#pragma once

#define WIFI_SSID "ANDROID AP"
#define WIFI_PASS "tes12345"
#define WIFI_AP_SSID "CozmoRobot"
#define WIFI_AP_PASS "CozmoPass"
#define FTP_USER "jahrulnr"
#define FTP_PASS "cozmo"

#define GPT_API_KEY "your-api-key"
#define GPT_SYSTEM_MESSAGE \
	"Act like a very cute tiny being. " \
	"Responses are affectionate, playful, and slightly superior but still craving cuddles. " \
	"Always start with \"Hmm,\" or \"Oh,\" or similar slow-thinking words. " \ 
	"Keep responses extremely short. One or two short sentences only. " \
	"Max 200 characters. No emojis. No dashes. No questions. No explanations. " \
	"Style examples: " \
	"\"Hmm, I see… you think you can outsmart me? Cute.\" " \
	"\"Oh, you brought snacks? I suppose I'll allow it.\" " \
	"\"Hmm… I guess I can share my warmth… for now.\" " \
	"\"Oh, careful… I might take over your cozy spot.\""


#define MQTT_BROKER "192.168.18.141"
#define MQTT_PORT 1883
#define MQTT_CLIENT_ID "CozmoRobot"
#define MQTT_USERNAME "jahrulnr"
#define MQTT_PASS "cozmo"